<div id="container" class="container sixteen columns no_print">

	<div id ="main_menu" class="five columns" style="overflow-x:hidden"></div>
	<div id = "display" class = "ten columns">
		<h3 id = "__header__" class = "ten columns"> </h3>
		<div id ="content" class = "ten columns">
			

		</div>
	</div>
	
</div>

<div id="print_container" style="display:none;">
</div>

<div class = "seach_box container sixteen columns no_print"  id="search_box" style="">
	<div class="sixteen columns">
	<label>Search:</label>
	<input type = "text" id="query" target="/rest/search/Class" style="display:block;float:left"></input>
	<button type ="submit" id="search" style="display:block;float:right">Search</button>
	</div>
    <div class="sixteen columns" id="search_result" style="max-height:400px;overflow-y:scroll;">

    </div>
</div>