<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="background-image:url('/images/Background.jpg'); background-repeat:no-repeat; background-color:black; background-position: 50% 0%, center;">
    <div id="google_login" style="position:relative;left:25%;top:25%">
    	<a href="{{{url}}}" style="background-image:url('/images/sign-in-with-google.png');width:492px;height:108px;position:absolute"></a>
    </div>
  </body>
</html>
