<div class = 'print sixteen columns'>
	<label class='two columns'>Access_code:</label><label id='access_code' class='thirteen columns'> {{access_code}}</label>
</div><div class='edit sixteen columns'><div class='fourteen columns'>
	<label class='two columns'>Access_code: </label><input id='access_code' type='text' value = '{{access_code}}'></input>
</div><button class='__done__ one columns'>Done</button></div><div class='view sixteen columns'><div class='fourteen columns'>
	<label class='one columns'>Access_code:</label><p id='access_code' class='thirteen columns'> {{access_code}}</p>
</div><button class='__edit__ one columns'>Edit</button></div>