<div class = 'print sixteen columns'>
	<label >Entry:</label><label id='entry' > {{entry}}</label>
</div><div class='edit '><div style='display:block;float:left'>
	<label>Entry: </label><input id='entry' type='text' value = '{{entry}}'></input><form class='noactionupdate' action='/rest/Glossary.entry.new/' method='POST'><input type='hidden' value='{{id}}'></input><input type='submit' value='Add New Definition to Entry'></submit></form>
</div><button class='__done__ one columns'>Done</button></div><div class='view '><div style='display:block;float:left'>
	<label>Entry:</label><p id='entry'> {{entry}}</p>
</div><button class='__edit__ one columns'>Edit</button></div>