<div class = 'print sixteen columns'>
	<label >Access_code:</label><label id='access_code' > {{access_code}}</label>
</div><div class='edit '><div style='display:block;float:left'>
	<label>Access_code: </label><input id='access_code' type='text' value = '{{access_code}}'></input>
</div><button class='__done__ one columns'>Done</button></div><div class='view '><div style='display:block;float:left'>
	<label>Access_code:</label><p id='access_code'> {{access_code}}</p>
</div><button class='__edit__ one columns'>Edit</button></div>